//
// COMPONENTS > NAVIGATION
//

/**
Fixed main navigation on scroll
**/

#wrapper-navbar {
    transition: all 0.5s ease;
    #site-navbar {
        z-index: 100;
        background-color: white;
        &.scrolled {
            position: fixed;
            top: 0px;
            background: linear-gradient(to right, #48C6EF 0%, #6F86D6 100%);
            width: 100%;
            font-size: 0.8rem;
            transition: all 0.5s ease;
            animation: smoothScroll 0.5s forwards;
            &.navbar {
                transition: all 0.5s ease;
            }
            a {
                color: white;
                &.dropdown-item {
                    font-size: 0.8rem;
                    color: black;
                }
            }
        }
    }
}

@keyframes smoothScroll {
    0% {
        transform: translateY(-200px);
    }
    100% {
        transform: translateY(0px);
    }
    // width: 100%;
}