<header class="container-fluid hero-image">
    <div class="hero-text text-center text-white">
        <h1>Cover your website</h1>
        <p class="lead">Cover is a HTML template for building simple and beautiful websites. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
        <p class="">
            <a href="#" class="btn btn-primary mb-3">Learn more</a>
            <a href="#" class="btn btn-outline-light mb-3">Follow us</a>
        </p>
    </div>
</header>