//
// BASE > HEADER
//
header.hero-image {
    height: 100vh;
    background: #48c6ef;
    /* fallback for old browsers */
    background: linear-gradient(to right, #48c6ef 0%, #6f86d6 100%);
    .hero-text {
        position: absolute;
        margin: 0 auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}